{% macro get_time(t) %}
  {% if t == '00:00' %}
    {% set t = 'MIDNIGHT' %}
  {% elif t == '12:00' %}
    {% set t = 'NOON' %}
  {% elif t.split(':')[0]|int < 12 %}
    {% set t = t + ' AM' %}
  {% else %}
    {% set t = '%d:%s'|format(t.split(':')[0]|int - 12, t.split(':')[1]) + ' PM' %}
  {% endif %}

  {% if t.split()[0] == '0' %}
    {{ t[1:] }}

  {% else %}
    {{ t }}
  {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %} Hourly {% endblock %}

{% block header %}

<h1> Hourly data for {{ date_string }} {{ address_string }}</h1>

{% endblock %}

{% block content %}

<table class="table">

    <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Temperature</th>
          <th scope="col">Forecast</th>
          <th class="hourly-weather-icon-header" scope="col">Icon</th>
        </tr>
      </thead>
      <tbody>
          {% for hour in forecast %}
          {% set time = get_time(":".join(hour.startTime.split('T')[1].split('-')[0].split(':')[0:-1])) %}
          <tr>
            <th scope="row">{{ time }}</th>
            <td>{{ hour.temperature }} °{{ hour.temperatureUnit }}</td>
            <td>{{ hour.shortForecast }}</td>
            <td class="hourly-weather-icon"><img src="{{ hour.icon }}" alt="{{ hour.shortForecast }}"></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

{% endblock %}